<div class='jumbotron'>
  <h1 class='row'><%= "Sprite Registration Calculator" %></h1>
  <div class='row'><%= render 'form' %></div>
</div>

<br>

<div class='col-md-6'><%= render 'success' %></div>
<div class='col-md-6'><%= render 'damage' %></div>